$whiteColorText: #fff;
$buttonBorder: 2px solid #000;

$fontFamily: Roboto;
$fontStyle: normal;
$fontWeight: 400;
$fontSize: 16px;
$fontLine: 24px;

$laptopSize: 1370px;
$tabletSize: 768px;
$mobileSize: 670px;