.photograph {
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $laptopSize) {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include fonts (Roboto, normal, 400, 100px, 110px);
    max-width: 624px;
    margin: 50px 0 60px;

    @media (max-width: $laptopSize) {
      margin: 40px auto 60px;
      text-align: center;
    }

    @media (max-width: $tabletSize) {
      margin: 40px 0 0;
      text-align: left;
    }

    @media (max-width: $mobileSize) {
      @include fonts-mobil (47px, 56px);
      max-width: 282px;
      margin: 14px 0 0;
    }
  }

  &__text {
    @include fonts (Roboto, normal, 400, 20px, 28px);
    max-width: 469px;
    margin: 0 0 170px;

    @media (max-width: $laptopSize) {
      margin: 60px auto;
    }

    @media (max-width: $tabletSize) {
      margin: 60px 0;
    }

    @media (max-width: $mobileSize) {
      @include fonts-mobil (14px, 18px);
      max-width: 276px;
      margin: 0 0 30px;
    }
  }

  &__button {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    text-decoration: none;
    color: #000;
    max-width: 228px;
    max-height: 49px;
    border: $buttonBorder;
    box-sizing: border-box;
    border-radius: 99px;
    margin: 0 0 50px;
    padding: 10px 68px;


    @media (max-width: $laptopSize) {
      margin: 0 auto 40px;
    }

    @media (max-width: $tabletSize) {
      margin: 0 0 40px;
    }

    @media (max-width: $mobileSize) {
      @include fonts-mobil (14px, 28px);
      margin: 0 0 20px;
      padding: 5px 48px;
      max-width: 169px;
      max-height: 40px;
    }
  }

  &__button:hover {
    font-weight: 500;
    cursor: pointer;
  }

  &__image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -1;
    grid-row-end: -4;
    max-width: 642px;
    width: 100%;
    max-height: 685px;
    justify-self: right;
    margin: 50px 0 50px;

    @media (max-width: $laptopSize) {
      max-width: 688px;
      max-height: 594px;
      margin: 0 auto;
    }

    @media (max-width: $tabletSize) {
      margin: 60px auto 0;
    }

    @media (max-width: $mobileSize) {
      max-width: 280px;
      max-height: 242px;
      margin: 60px auto;
    }
  }
}