.photograph {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &__title {
    @include fonts (Roboto, normal, 400, 100px, 110px);
    max-width: 624px;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  &__text {
    @include fonts (Roboto, normal, 400, 20px, 28px);
    max-width: 469px;
    margin-top: 0;
    margin-bottom: 170px;
  }

  &__button {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 228px;
    max-height: 49px;
    padding: 10px 68px;
    background-color: #fff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9999px;
    margin-bottom: 50px;
  }

  &__image {
    max-width: 642px;
    max-height: 685px;
    margin: 50px 0 50px 76px;
  }
}