.header {
    background-color: #DF2626;
    margin: 0 auto;

    &__menu-main {
        display: grid;
        grid-template-columns: 50px 1fr;
        max-width: 1440px;
        width: 100%;
        min-width: 320px;

        &_type_disabled {
            display: none;
        }
    }

    &__menu-active {
        display: none;
        grid-template-columns: 1fr 50px;
        max-width: 843px;
        width: 100%;
        min-width: 320px;

        @media (min-width: 843px) {
            display: none;
        }

        @media (max-width: 670px) {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
        }

        &_type_active {
            display: grid;
        }
    }
    
    &__image {
        background-image: url("./images/header-img.svg");
        background-size: cover;
        box-sizing: border-box;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 0;
        align-self: center;

        &_type_active {
            grid-row-start: 1;
            grid-row-end: 2;
            margin: 21px 0 0;

            @media (min-width: 671px) {
                display: none;
            }
        }

        @media (max-width: 768px) {
            width: 36px;
            height: 36px;
        }

        @media (max-width: 670px) {
            width: 30px;
            height: 30px;
        }
    }

    &__image:hover {
        animation: turn-arrow 6s infinite cubic-bezier(.32,.62,.62,.39);
    }

    @keyframes turn-arrow {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 30px 0;
        margin: 0;

        @media (max-width: 843px) {
            display: none;
        }
    }

    &__list-active {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        padding: 30px 0;
        margin: 0;

        @media (min-width: 843px) {
            display: none;
        }

        @media (max-width: 670px) {
            flex-direction: column;
            align-items: center;
            grid-row-start: 2;
            grid-row-end: 3;
            padding: 0;
        }
    }

    &__item {
        margin: 0 40px 0 0;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item-active {
        padding: 0 40px 0 0;
        @media (max-width: 670px) {
            padding: 0 0 12px;
        }
    }

    &__item-active:last-of-type {
        padding: 0;
        @media (max-width: 670px) {
            padding: 0 0 20px;
        }
    }

    &__link {
        font-family: $fontFamily;
        font-style: $fontStyle;
        font-weight: $fontWeight;
        font-size: $fontSize;
        line-height: $fontLine;
        color: #FBFBFB;
        text-decoration: none;
        margin: 0;
    }

    &__link:hover {
        font-weight: 700;
        cursor: pointer;
    }

    &__button {
        background-image: url("../images/burger.svg");
        background-size: cover;
        background-color: transparent;
        box-sizing: border-box;
        width: 32px;
        height: 20px;
        padding: 0;
        margin: 34px 0 30px;
        justify-self: flex-end;

        @media (min-width: 844px) {
            display: none;
        }

        @media (max-width: 670px) {
            margin: 26px 0 24px;
        }
    }

    &__button-close {
        background-image: url("./images/button-close.svg");
        background-size: cover;
        background-color: transparent;
        box-sizing: border-box;
        width: 27px;
        height: 27px;
        border: none;
        align-self: center;
        justify-self: flex-end;

        @media (max-width: 670px) {
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }

    &__button-close:hover {
        cursor: pointer;
    }
}