.page-section {
  max-width: 1340px;
  box-sizing: border-box;
  padding: 0 50px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page-section {
    padding: 0 40px;
  }
}

@media (max-width: 320px) {
  .page-section {
    padding: 0 20px;
  }
}