.composition {
  background-color: #FFCE00;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &__heading {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
  }

  &__title {
    @include fonts (Roboto, normal, 400, 64px, 64px);
    max-width: 403px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__text {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 366px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__text:last-of-type {
    margin-bottom: 198px;
  }

  &__accent {
    font-weight: 500;
  }

  &__button {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 228px;
    max-height: 49px;
    padding: 10px 63px;
    background-color: #fff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9999px;
  }

  &__image {
    max-width: 642px;
    max-height: 685px;
    margin: 50px 0 0 295px;
  }

  &__paragraph {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 291px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 56px;
  }

  &__paragraph:last-of-type {
    margin-right: 0;
  }
}