.composition {
  background-color: #FFCE00;
  margin: 0 auto;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;

    @media (max-width: $laptopSize) {
      display: flex;
      flex-direction: column;
    }
  }

  &__heading {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    text-transform: uppercase;
    margin: 50px 0 0;
    padding: 0;

    @media (max-width: $laptopSize) {
      margin: 40px auto 0;
    }

    @media (max-width: $tabletSize) {
      margin: 40px 0 0;
    }

    @media (max-width: $mobileSize) {
      @include fonts-mobil (14px, 20px);
      border-top: 1px solid #000;
      padding-top: 20px;
    }
  }

  &__title {
    @include fonts (Roboto, normal, 400, 64px, 64px);
    max-width: 403px;
    margin: 50px 0 100px;

    @media (max-width: $laptopSize) {
      margin: 40px auto 60px;
      text-align: center;
    }

    @media (max-width: $tabletSize) {
      margin: 40px 0 60px;
      text-align: left;
    }

    @media (max-width: $mobileSize) {
      @include fonts-mobil (30px, 38px);
      margin: 30px 0 60px;
    }
  }

  &__text {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 366px;
    margin: 0 0 20px;

    @media (max-width: $laptopSize) {
      max-width: 400px;
      margin: 0 auto 20px;
    }

    @media (max-width: $tabletSize) {
      max-width: 400px;
      margin: 0 0 20px;
    }

    @media (max-width: $mobileSize) {
      @include fonts-mobil (14px, 18px);
      margin: 0 0 36px;
    }
  }

  &__text:last-of-type {
    margin: 0 0 198px;

    @media (max-width: $laptopSize) {
      margin: 0 auto 60px;
    }

    @media (max-width: $tabletSize) {
      margin: 0 0 60px;
    }

    @media (max-width: $mobileSize) {
      margin: 0 0 30px;
    }
  }

  &__accent {
    font-weight: 700;
  }

  &__button {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 228px;
    max-height: 49px;
    padding: 10px 63px;
    background-color: #fff;
    border: $buttonBorder;
    box-sizing: border-box;
    border-radius: 9999px;

    @media (max-width: $laptopSize) {
      margin: 0 auto 50px;
    }

    @media (max-width: $tabletSize) {
      margin: 0 0 50px;
    }

    @media (max-width: $mobileSize) {
      max-width: 169px;
      max-height: 40px;
      padding: 5px 44px;
      @include fonts-mobil (14px, 28px);
      margin: 0 0 66px;
    }
  }

  &__button:hover {
    font-weight: 500;
    cursor: pointer;
  }

  &__image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -1;
    grid-row-end: -6;
    max-width: 642px;
    width: 100%;
    max-height: 685px;
    margin: 50px 0 0;
    justify-self: right;

    @media (max-width: $laptopSize) {
      max-width: 688px;
      margin: 0 auto 60px;
    }

    @media (max-width: $tabletSize) {
      margin: 0 auto 60px;
    }

    @media (max-width: $mobileSize) {
      max-width: 280px;
      max-height: 278px;
    }
  }

  &__container {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;

    @media (max-width: $laptopSize) {
      flex-direction: column;
    }
  }

  &__paragraph {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 291px;
    margin: 100px 56px 50px 0;

    @media (max-width: $laptopSize) {
      max-width: 688px;
      margin: 0;
      padding: 30px 0;
      border-bottom: 1px solid #000;
    }

    @media (max-width: $mobileSize) {
      @include fonts-mobil (14px, 18px);
      padding: 14px 0;
      max-width: 278px;
    }
  }

  &__paragraph:last-of-type {
    margin-right: 0;

    @media (max-width: $laptopSize) {
      padding-bottom: 40px;
      border-bottom: none;
    }

    @media (max-width: $mobileSize) {
      padding-bottom: 20px;
      border-bottom: none;
    }
  }
}