.composition {
  background-color: #FFCE00;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 768px) {
    &__box {
      justify-self: flex-start;
    }
  }

  &__caption {
    grid-area: heading;
    @include fonts (Roboto, normal, 400, 18px, 28px);
    text-transform: uppercase;
    margin: 0;
    padding: 50px 0 0;
  }
  
  @media (max-width: 768px) {
    &__caption {
      padding-top: 40px;
    }
  }

  @media (max-width: 651px) {
    &__caption {
      padding-top: 20px;
      border-top: solid 1px #000;
      margin-top: 40px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__heading {
    grid-area: heading;
    @include fonts (Roboto, normal, 400, 64px, 64px);
    max-width: 403px;
    margin: 0;
    padding: 50px 0 50px;
  }

  @media (max-width: 768px) {
    &__heading {
      padding: 40px 0 0 0;
    }
  }

  @media (max-width: 651px) {
    &__heading {
      padding: 30px 0 0 0;
      font-size: 30px;
      line-height: 38px;
    }
  }

  &__paragraph {
    grid-area: text;
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 400px;
    margin: 0;
    padding: 0 0 20px 0;
  }

  &__paragraph:last-of-type {
    padding: 0 0 140px 0;
  }

  @media (max-width: 768px) {
    &__paragraph:last-of-type {
      padding: 0 0 60px 0;
    }
  }

  @media (max-width: 651px) {
    &__paragraph {
      font-size: 14px;
      line-height: 18px;
      padding: 0 0 36px 0;
    }

    &__paragraph:last-of-type {
      padding: 0 0 30px 0;
    }
  }

  &__image {
    grid-area: image;
    max-width: 642px;
    margin: 0;
    padding: 50px 0;
    justify-self: flex-end;
  }

  @media (max-width: 1360px) {
    &__image {
      padding: 60px 0;
      max-width: 688px;
      width: 100%;
      max-height: 685px;
      justify-self: center;
    }
  }

  &__button {
    grid-area: button;
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 228px;
    max-height: 49px;
    background: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 99px;
    cursor: pointer;
    padding: 10px 62px;
    margin: 0;
  }

  &__button:hover {
    font-weight: 500;
  }

  @media (max-width: 768px) {
    &__button {
      justify-self: flex-start;
      margin-bottom: 80px;
    }
  }

  @media (max-width: 651px) {
    &__button {
      font-size: 14px;
      padding: 6px 44px;
    }
  }

  &__container {
    display: flex;
  }

  @media (max-width: 768px) {
    &__container {
      flex-direction: column;
    }
  }

  &__text {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 291px;
    margin: 0;
    padding: 50px 56px 50px 0;
  }

  &__text:last-of-type {
    padding: 50px 0 50px 0;
  }

  @media (max-width: 768px) {
    &__text {
      max-width: 688px;
      margin: 0;
      padding: 30px 0;
      border-bottom: solid 1px #000;
    }

    &__text:first-of-type {
      padding: 0 0 30px 0;
    }

    &__text:last-of-type {
      padding: 30px 0 40px 0;
      border: none;
    }
  }

  @media (max-width: 651px) {
    &__text {
      font-size: 14px;
      line-height: 18px;
      padding: 14px 0;
    }

    &__text:first-of-type {
      padding: 0 0 14px 0;
    }

    &__text:last-of-type {
      padding: 14px 0 20px 0;
    }
  }
}