.search-orders {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__container {
    display: flex;
  }

  &__components {
    display: flex;
    flex-direction: column;
  }

  &__caption {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 50px 0 0 54px;
    padding: 0;
  }

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    max-width: 549px;
    margin: 50px 0 106px 50px;
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 380px;
    margin: 386px 0 148px 0px;
  }

  &__img {
    background: no-repeat center / cover;
    max-width: 648px;
    max-height: 333px;
    margin: 0 312px 50px 50px;
  }

  &__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 228px;
    height: 49px;
    background: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 99px;
    cursor: pointer;
    padding: 10px 67px;
    margin: 0;
  }

  &__button:hover {
    font-weight: 500;
  }
}