.search-orders {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &__heading {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;

    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }

  &__title {
    @include fonts (Roboto, normal, 400, 64px, 64px);
    max-width: 549px;
    margin-top: 50px;
    margin-bottom: 106px;

    @media (max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 60px;
    }
  }

  &__image {
    max-width: 648px;
    max-height: 333px;
    margin-bottom: 50px;

    @media (max-width: 768px) {
      max-width: 688px;
      margin-bottom: 60px;
    }
  }

  &__text {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 380px;
    margin: 386px 0 148px 312px;

    @media (max-width: 768px) {
      max-width: 380px;
      margin: 0 0 60px 0;
    }
  }

  &__button {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    max-width: 228px;
    max-height: 49px;
    padding: 10px 63px;
    background-color: #fff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9999px;
    margin: 0 0 50px 312px;

    @media (max-width: 768px) {
      margin: 0 0 40px 0;
    }
  }
}