.camera {
  background-color: #000;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &__heading {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    text-transform: uppercase;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
  }

  &__title {
    @include fonts (Roboto, normal, 400, 122px, 122px);
    color: #fff;
    max-width: 617px;
    margin-top: 50px;
    margin-bottom: 359px;
  }

  &__text {
    @include fonts (Roboto, normal, 400, 18px, 28px);
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  &__image {
    max-width: 642px;
    max-height: 832px;
    margin: 50px 0 0 81px;
  }

  &__paragraph {
    @include fonts (Roboto, normal, 400, 43px, 43px);
    color: #fff;
    max-width: 526px;
    margin: 180px 172px 60px 0;

    &_type_indent {
      margin-right: 0;
    }

    &_type_name {
      @include fonts (Roboto, normal, 400, 18px, 28px);
      margin: 0 0 10px 0;
    }

    &_type_email {
      @include fonts (Roboto, normal, 400, 14px, 24px);
      margin: 0 0 50px 0;
    }
  }
}