.footer {
  background-color: #DF2626;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &__image {
    background-image: url("../../../images/arrow.svg");
    background-repeat: no-repeat;
    min-width: 129px;
    min-height: 95px;
    margin: 60px 0 0;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &__title {
    @include fonts (Roboto, normal, 400, 120px, 120px);
    color: #fff;
    max-width: 685px;
    margin: 50px 0 120px 50px;

    @media (max-width: 960px) {
      margin: 40px auto 190px;
    }

    @media (max-width: 768px) {
      @include fonts-mobil(100px, 100px);
      max-width: 571px;
      margin: 40px 0 190px;
    }

    @media (max-width: 670px) {
      @include fonts-mobil(48px, 50px);
      padding-top: 20px;
      border-top: 1px solid #fff;
      margin-bottom: 200px;
    }
  }

  &__fieldset {
    margin: 0 0 0 184px;
    padding: 0;
    border: none;

    @media (max-width: 960px) {
      margin: 0;
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }

    @media (max-width: 670px) {
      margin-bottom: 40px;
    }
  }

  &__input {
    border: 2px solid #000;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
    background: #fff;
    min-width: 348px;
    min-height: 50px;
    cursor: pointer;

    @media (max-width: 670px) {
      min-width: 175px;
      min-height: 50px;
    }
  }

  &__input::placeholder {
    @include fonts(Roboto, normal, 400, 14px, 24px);
    letter-spacing: 0.375px;
    color: #000;
    padding-left: 20px;

    @media (max-width: 670px) {
      font-size: 11px;
    }
  }

  &__button {
    @include fonts (Roboto, normal, 400, 14px, 24px);
    letter-spacing: 0.375px;
    padding: 13px 60px;
    background: #fff;
    border: 2px solid #000;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0 8px 8px 0;
    max-width: 205px;
    max-height: 50px;

    @media (max-width: 670px) {
      @include fonts-mobil(11px, 24px);
      max-width: 107px;
      max-height: 50px;
      padding: 13px 20px;
    }
  }

  &__button:hover {
    font-weight: 500;
    cursor: pointer;
  }

  &__author {
    @include fonts (Roboto, normal, 400, 15px, 24px);
    color: #fff;
    margin: 86px 0 50px;

    @media (max-width: 768px) {
      margin: 80px 0 40px 0;
    }

    @media (max-width: 670px) {
      @include fonts-mobil(12px, 24px);
      margin: 0 0 20px;
    }
  }
}