@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../../vendor/fonts/roboto-400.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../../vendor/fonts/roboto-500.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(../../vendor/fonts/roboto-700.woff2) format("woff2");
}
.body {
  font-family: "Roboto", "Arial", serif;
  margin: 0 auto;
  padding: 0;
}

.page-section {
  max-width: 1340px;
  box-sizing: border-box;
  padding: 0 50px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page-section {
    padding: 0 40px;
  }
}
@media (max-width: 320px) {
  .page-section {
    padding: 0 20px;
  }
}
.header {
  background-color: #DF2626;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__image {
  background-image: url("../images/header-img.svg");
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
}
@media (max-width: 768px) {
  .header__image {
    min-width: 36px;
    min-height: 36px;
  }
}
@media (max-width: 427px) {
  .header__image {
    min-width: 30px;
    min-height: 30px;
  }
}
.header__image:hover {
  animation: turn-arrow 6s infinite cubic-bezier(0.32, 0.62, 0.62, 0.39);
}
@keyframes turn-arrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 30px 0;
  margin: 0;
}
@media (max-width: 768px) {
  .header__list {
    display: none;
  }
}
.header__item {
  margin: 0 40px 0 0;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FBFBFB;
  text-decoration: none;
  margin: 0;
}
.header__link:hover {
  font-weight: 700;
}
.header__button {
  background-image: url("../images/burger.svg");
  background-size: cover;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  min-width: 32px;
  min-height: 20px;
  padding: 0;
  margin: 34px 0 30px;
}
@media (min-width: 769px) {
  .header__button {
    display: none;
  }
}
@media (max-width: 427px) {
  .header__button {
    margin: 26px 0 24px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}
.wrapper__container {
  display: flex;
}
@media (max-width: 768px) {
  .wrapper__container {
    flex-direction: column;
  }
}
.wrapper__column {
  display: flex;
  flex-direction: column;
}
.wrapper__row {
  display: flex;
}

.photograph {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.photograph__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  max-width: 624px;
  margin-top: 50px;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .photograph__title {
    margin-top: 40px;
  }
}
.photograph__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 469px;
  margin-top: 0;
  margin-bottom: 170px;
}
@media (max-width: 768px) {
  .photograph__text {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.photograph__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 228px;
  max-height: 49px;
  padding: 10px 68px;
  background-color: #fff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9999px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .photograph__button {
    margin-bottom: 40px;
  }
}
.photograph__image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: -1;
  grid-row-end: -4;
  max-width: 642px;
  max-height: 685px;
  margin: 50px 0 50px 76px;
}
@media (max-width: 768px) {
  .photograph__image {
    max-width: 688px;
    max-height: 594px;
    margin: 0 auto;
  }
}

.composition {
  background-color: #FFCE00;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.composition__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .composition__heading {
    margin-top: 40px;
  }
}
.composition__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  max-width: 403px;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .composition__title {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
.composition__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 366px;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .composition__text {
    max-width: 400px;
  }
}
.composition__text:last-of-type {
  margin-bottom: 198px;
}
@media (max-width: 768px) {
  .composition__text:last-of-type {
    margin-bottom: 60px;
  }
}
.composition__accent {
  font-weight: 500;
}
.composition__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 228px;
  max-height: 49px;
  padding: 10px 63px;
  background-color: #fff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9999px;
}
@media (max-width: 768px) {
  .composition__button {
    margin-bottom: 50px;
  }
}
.composition__image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: -1;
  grid-row-end: -6;
  max-width: 642px;
  max-height: 685px;
  margin: 50px 0 0 295px;
}
@media (max-width: 768px) {
  .composition__image {
    max-width: 688px;
    margin: 0 0 60px 0;
  }
}
.composition__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 291px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 56px;
}
@media (max-width: 768px) {
  .composition__paragraph {
    max-width: 688px;
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #000;
  }
}
.composition__paragraph:last-of-type {
  margin-right: 0;
}
@media (max-width: 768px) {
  .composition__paragraph:last-of-type {
    padding-bottom: 40px;
    border-bottom: none;
  }
}

.camera {
  background-color: #000;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.camera__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .camera__heading {
    margin-top: 40px;
  }
}
.camera__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 122px;
  line-height: 122px;
  color: #fff;
  max-width: 617px;
  margin-top: 50px;
  margin-bottom: 359px;
}
@media (max-width: 768px) {
  .camera__title {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
.camera__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
}
.camera__image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: -1;
  grid-row-end: -4;
  max-width: 642px;
  max-height: 832px;
  margin: 50px 0 0 81px;
}
@media (max-width: 768px) {
  .camera__image {
    max-width: 688px;
    margin: 0 0 60px 0;
  }
}
.camera__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 43px;
  color: #fff;
  max-width: 526px;
  margin: 180px 172px 60px 0;
}
@media (max-width: 768px) {
  .camera__paragraph {
    margin-right: 0;
  }
}
.camera__paragraph_type_indent {
  margin-right: 0;
}
.camera__paragraph-name {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 10px 0;
}
.camera__paragraph-email {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin: 0 0 50px 0;
}
@media (max-width: 768px) {
  .camera__paragraph-email {
    max-width: 688px;
    margin: 0;
    padding-bottom: 60px;
    border-bottom: 1px solid #fff;
  }
  .camera__paragraph-email_type_border {
    border: none;
  }
}

.search-orders {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.search-orders__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .search-orders__heading {
    margin-top: 40px;
  }
}
.search-orders__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  max-width: 549px;
  margin-top: 50px;
  margin-bottom: 106px;
}
@media (max-width: 768px) {
  .search-orders__title {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
.search-orders__image {
  max-width: 648px;
  max-height: 333px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .search-orders__image {
    max-width: 688px;
    margin-bottom: 60px;
  }
}
.search-orders__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 380px;
  margin: 386px 0 148px 312px;
}
@media (max-width: 768px) {
  .search-orders__text {
    max-width: 380px;
    margin: 0 0 60px 0;
  }
}
.search-orders__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 228px;
  max-height: 49px;
  padding: 10px 63px;
  background-color: #fff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9999px;
  margin: 0 0 50px 312px;
}
@media (max-width: 768px) {
  .search-orders__button {
    margin: 0 0 40px 0;
  }
}

.footer {
  background-color: #DF2626;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.footer__image {
  background-image: url("../../../images/arrow.svg");
  background-repeat: no-repeat;
  min-width: 129px;
  min-height: 95px;
  margin: 60px 0 0;
}
@media (max-width: 768px) {
  .footer__image {
    display: none;
  }
}
.footer__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  max-width: 685px;
  margin: 50px 0 120px 50px;
}
@media (max-width: 768px) {
  .footer__title {
    font-size: 100px;
    line-height: 100px;
    max-width: 571px;
    margin: 40px 0 190px 0;
  }
}
.footer__fieldset {
  margin: 0 0 0 184px;
  padding: 0;
  border: none;
}
@media (max-width: 768px) {
  .footer__fieldset {
    margin-left: 0;
  }
}
.footer__input {
  border: 2px solid #000;
  border-radius: 8px 0 0 8px;
  box-sizing: border-box;
  background: #fff;
  min-width: 348px;
  min-height: 50px;
}
.footer__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.375px;
  padding: 13px 60px;
  background: #fff;
  border: 2px solid #000;
  border-left: none;
  box-sizing: border-box;
  border-radius: 0 8px 8px 0;
  max-width: 205px;
  max-height: 50px;
}
.footer__author {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  margin: 86px 0 50px;
}
@media (max-width: 768px) {
  .footer__author {
    margin: 80px 0 40px 0;
  }
}

/*# sourceMappingURL=index.css.map */
